/* Add here all your CSS customizations */

.thumb-info-side-image img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: .2s;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: .2s;
}
.thumb-info-side-image img.zoom-img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: .2s;
  -moz-transform: scale(1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: .2s;
  overflow: hidden;
}
.thumb-info-side-image img.blur-img {
    -webkit-transform: scale(1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: .2s;
    -moz-transform: scale(1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: .2s;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.thumb-info-side-image img.blur-img:hover {
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: .2s;
    -moz-transform: scale(1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: .2s;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}


@media screen and (min-width: 991px) and (max-width: 1200px) {
  .responsive-center{
    margin-left: 200px!important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .responsive-center{
    margin-left: 270px!important;
  }
}

@media screen and (min-width: 1300px) {
  .responsive-center{
    margin-left: 275px!important;
  }
}
